.column_left {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.uni_width_height {
    width: 100%;
    height: 35px;
}

.uni_text {
    white-space: nowrap;
    overflow: clip;
}

.add_border {
    border: 2px solid black
}

#list_videos {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ff5a99b4;
        border-radius: 5px;
    }
    /* Handle hover*/
    &::-webkit-scrollbar-thumb:hover {
        background: #cdf2ff;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-button {
        background: #ff5a99b4;
        border-radius: 5px;
        height: 15px;
    }
    &::-webkit-scrollbar-button:hover {
        background: #cdf2ff;
        border-radius: 5px;
    }
}



